.btn {
    background   : #F39C12;
    border       : 2px solid #F39C12;
    border-radius: 0 !important;
    color        : black;
    font-weight  : 600;
    padding      : 5px 10px;

    &:hover {
        background: #FFA813 !important;
        border    : 2px solid #F39C12 !important;
        color     : white !important;
    }
}