@import '../style/variables.scss';

.login-container {
    display            : flex;
    height             : 100vh;
    background-image   : url('https://res.cloudinary.com/utejobhub/image/upload/v1731929819/cnpm/zhn5p0lxavwcwb14q0pi.png');
    background-size    : cover; // Đảm bảo hình ảnh phủ toàn bộ container
    background-position: center; // Căn giữa hình ảnh
    background-repeat  : no-repeat; // Không lặp lại hình ảnh

    .login-right {
        flex              : 1;
        // background     : linear-gradient(to right, #ffffff, #f7f7f752);
        padding           : 40px;
        display           : flex;
        flex-direction    : column;
        justify-content   : center;
        align-items       : center;

        .welcome {
            color      : $text-color;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 900 !important;
        }

        .form-container {
            background   : $bg-color;
            padding      : 1rem;
            width        : 50%;
            border-radius: 10px;
            box-shadow   : 4px 4px 10px rgba(255, 255, 255, 0.693);

            .title {
                text-align : center;
                font-weight: bold;
                color      : $text-color;
                font-family: 'Courier New', Courier, monospace;
            }

            .login-button {
                width           : 100%;
                background-color: $btn-color; // màu xanh
                border          : none;
                margin-top      : 20px;

                &:hover {
                    background-color: $btn-hover-color; // màu xanh dương
                }
            }

            .forgot-password {
                margin-top: 10px;
                color     : #1890ff;
            }

            .divider {
                margin    : 20px 0;
                text-align: center;
                font-size : 14px;
                color     : #aaa;
            }

            .social-button {
                width : 100%;
                margin: 10px 0;

                &.google-btn {
                    background  : #fff;
                    border-color: #4285f4;
                    color       : #4285f4;
                }

                &.facebook-btn {
                    background  : #fff;
                    border-color: #3b5998;
                    color       : #3b5998;
                }
            }

            .register {
                margin-top: 20px;

                a {
                    color: $text-color;
                }
            }
        }

    }
}